.container{
    width: 1250px;
    height: 650px;
    margin: auto;
}
.header{
    width: 1250px;
    height: 80px;
    background: grey;
    display: flex;
}
.options{
    width: 535px;
    height: 35px;
    margin: auto;
    align-items: center;
}
#lorem{
    width: 1190px;
    height: 550px;
    padding:10px 30px;
}
.button{
    width: 35px;
    height: 35px;
    font-weight: bold;
    border-radius: 4px;
    background: white;
}
.button:hover{
    background: lightgrey;
    cursor: pointer;
}
.left_button{
    margin-left: 7px;
}
#left{
    background-image: url(img/54821.png);
}
#center{
    background-image: url(img/33825.png);
}
#right{
    background-image: url(img/48265.png);
}
#block_color{
    background-image: url(img/23659.png);
}
#block_back_color{
    background-image: url(img/53242.png);
}
#block_signin{
    background-image: url(img/32543.png);
}
.bold{
    font-weight: bold;
}
.cursive{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.line-through{
    text-decoration: line-through;
}
.arial{
    font-family: Arial;
}
.georgia{
    font-family: Georgia;
}
.impact{
    font-family: Impact;
}
.tahoma{
    font-family: Tahoma;
}
.times{
    font-family: Times;
}
.verdana{
    font-family: Verdana;
}
.px12{
    font-size: 12px;
}
.px14{
    font-size: 14px;
}
.px16{
    font-size: 16px;
}
.px18{
    font-size: 18px;
}
.px20{
    font-size: 20px;
}
.px22{
    font-size: 22px;
}
.px25{
    font-size: 25px;
}
.px30{
    font-size: 30px;
}
.popup{
    width: 100%;
    height: 100%;
    position: fixed;
	top: 0;
	left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.text_color{
    width: 465px;
    height: 290px;
    position: absolute; 
    left: 50%;
    margin-left:-233px;
    top: 40px;
    border-radius: 5px;
    background-color: white;


    /* display: none; */
}
.line{
    display: flex;
}
.choose_text_color{
    margin-left: 15px;
    font-size: 20px;
    width: 410px;
}
.close{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    background-image: url(img/images.jpg);
    cursor: pointer;
}
.colors{
    width: 435px;
    height: 200px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.color{
    width: 57px;
    height: 57px;
    border-radius: 5px;
    cursor: pointer;
}
.lightseagreen{
    background: lightseagreen;
}
.darkcyan{
    background: darkcyan;
}
.lightgreen{
    background: lightgreen;
}
.green{
    background: green;
}
.royalblue{
    background: royalblue;
}
.blue{
    background: blue;
}
.violet{
    background: violet;
}
.purple{
    background: purple;
}
.darkslategray{
    background: darkslategray;
}
.darkslateblue{
    background: darkslateblue;
}
.gold{
    background: gold;
}
.orange{
    background: orange;
}
.goldenrod{
    background: goldenrod;
}
.darkgoldenrod{
    background: darkgoldenrod;
}
.darkorange{
    background: darkorange;
}
.chocolate{
    background: chocolate;
}
.lightgrey{
    background: lightgrey;
}
.silver{
    background: silver;
}
.darkgray{
    background: darkgray;
}
.grey{
    background: grey;
}
.black{
    background: black;
}
.back_color{
    width: 465px;
    height: 330px;
    position: absolute; 
    left: 50%;
    margin-left:-233px;
    top: 40px;
    border-radius: 5px;
    background-color: white;

    /* display: none; */
}
.hr_margin{
    margin: 0px;
}
.block_choose{
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.images{
    width: 435px;
    height: 200px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#back_images{
    display: none;
}
.img{
    width: 125px;
    height: 57px;
    border-radius: 5px;
    cursor: pointer;
}
#img1{
    background-image: url(img/priroda_gory_nebo_ozero_oblaka.jpg);
}
#img2{
    background-image: url(img/1ce50d19821dd9917b1ec2aff3f48.jpg);
}
#img3{
    background-image: url(img/263455_pole_-derevo.jpg);
}
#img4{
    background-image: url(img/91b5cdab51e207263169b4.jpg);
}
#img5{
    background-image: url(img/French_Polynesia_Tropics.jpg);
}
#img6{
    background-image: url(img/planet_green_nature_space_leaves_tree.jpg);
}
#img7{
    background-image: url(img/screen1.jpg);
}
#img8{
    background-image: url(img/screen3.jpg);
}
#img9{
    background-image: url(img/u9AVL.jpg);
}
#back_files{
    display: none;
}
.input_file{
    width: 435px;
    height: 25px;
    margin-left: 15px;
    margin-top: 7px;
    border: 1px solid gray;
    border-radius: 5px;
}
.signin{
    width: 465px;
    height: 250px;
    position: absolute; 
    left: 50%;
    margin-left:-233px;
    top: 40px;
    border-radius: 5px;
    background-color: white;
    
    /* display: none; */
}
.text_signin{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.input_signin{
    width: 430px;
    height: 30px;
    margin:8px 15px;
    border-radius: 5px;
}
.submit_signin{
    background: gray;
    color: white;
}